:root {
  --main-radius: 5px;
  --main-padding: 5px;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.4fr 4fr 0.4fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  font-size: medium;
  text-align: center;
}

.companyName {
  text-transform: none;
  font-size: small;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.navbar-logo {
  color: rgb(5, 5, 5);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: stretch;
}

nav {
  background-color: #d8cfd0;
  grid-area: nav;
  color: rgb(5, 5, 5);
  background-image: url('../../images/header.jpeg');
}

main {
  background-color: rgb(202, 189, 189);
  grid-area: main;
  padding: var(--main-padding);
}

#main {
  background-image: url('../../images/background.jpg');
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: double;
  font-size: 1em;
}

footer {
  background-color: #d8cfd0;
  grid-area: footer;
  color: rgb(5, 5, 5);
  text-transform: none;
  font-size: small;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-image: url('../../images/header.png');
}

@media only screen and (max-width: 550px) {
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "main"
      "main"
      "footer";
  }

  .mainContent {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: double;
    font-size: small;
    overflow-y: scroll;
    height: 80vh;
    scrollbar-width: 5px;
    scrollbar-3dlight-color: black;
    scrollbar-arrow-color: blue;
  }
}
