* {
    box-sizing: border-box;
  }
  
  .forgotGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "loginBox";
    justify-content: center;
    place-items: center;  
  }
  
  #forgotBox {
    grid-area: loginBox;
    border-radius: 10px;
    background-color: #3A89C1;
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 10px;
  }
  
  .forgot {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "headerBox"
      "inputBox"
      "submitBox";
    grid-column-end: span 2;
    width: auto;
  }
  .forgot > div {
    padding: 5px 0;
  }
  
  input[type="submit"] {
    border: 1px solid rgba(191, 216, 227, .8);
    border-radius: 5px;
    color: #fff;
    background-color: rgb(54, 134, 169);
    font-size: 110%;
  }
  
  input[type="text"],
  input[type="email"] {
    border: 1px solid rgba(191, 216, 227, .8);
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
  }
  
  #forgotheaderBox {
    grid-area: headerBox;
  }
  #inputBox {
    grid-area: inputBox;
  }
  #submitBox {
    grid-area: submitBox;
  }
  
    
  @media only screen and (max-width: 550px) {
    .forgotGrid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "forgotBox";
    }
  
    .forgot {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "headerBox"
        "inputBox"
        "submitBox";
      border: 1px;
      color: black;
    }
  }
  
  .actions a {
    font-size: 80%;
  }
  